In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
airbnb = pd.read_csv('singapore Airbnb.csv')

In [3]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [4]:
airbnb.shape

(7907, 16)

In [15]:
np.where(airbnb.isnull())

(array([  18,   18,   23, ..., 7905, 7906, 7906], dtype=int64),
 array([12, 13, 12, ..., 13, 12, 13], dtype=int64))

In [17]:
airbnb1 = airbnb.dropna(how = 'all')

In [18]:
airbnb1.shape

(7907, 16)

In [20]:
airbnb2 = airbnb1.drop(['id', 'host_id'], axis = 1)

In [21]:
airbnb2.head()

,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,COZICOMFORT LONG TERM STAY ROOM 2,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,Pleasant Room along Bukit Timah,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,COZICOMFORT,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,Ensuite Room (Room 1 & 2) near EXPO,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,B&B Room 1 near Airport & EXPO,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

In [22]:
airbnb.price.mean()

169.33299607942328

In [28]:
pd.value_counts(airbnb2.host_name)

Jay                                    290
Alvin                                  249
Richards                               157
Aaron                                  145
Rain                                   115
Darcy                                  114
Kaurus                                 112
RedDoorz                               109
Alex                                   105
Joey                                    94
Xiaoyu                                  79
Rajan                                   78
Paridhi                                 76
Shirley                                 68
Marcelo                                 67
Apollo                                  67
Paryani                                 64
Chelsey                                 59
Hillary                                 49
Rc                                      48
Ben                                     48
Vinn                                    45
Jhian                                   45
River City Inn                          43
Expats Housing Provider @ Raffles P     41
James                                   40
Heritage Apartments                     40
Jimmy                                   39
Tom                                     37
Yee                                     36
                                      ...
Ajeesh                                   1
Alfae                                    1
Aresha                                   1
Seok                                     1
Edwin Leopold                            1
Dick                                     1
Anil                                     1
Rati                                     1
Ryokuka                                  1
Subhashish                               1
Phua                                     1
Kanika                                   1
Gurbak                                   1
Hema                                     1
Vivianchen                               1
Yumichael                                1
Rowena                                   1
Anand                                    1
Sainyam                                  1
Shuai                                    1
Yeji5757                                 1
Meijuan                                  1
(Email hidden by Airbnb)                 1
Patrick                                  1
Nyah                                     1
Géraldine                                1
Jonatan                                  1
Lia                                      1
Abigale                                  1
Juhee                                    1
Name: host_name, Length: 1833, dtype: int64