In [2]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
airbnb = pd.read_csv('singapore Airbnb.csv')

In [4]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [5]:
airbnb.shape

(7907, 16)

In [6]:
np.where(airbnb.isnull())

(array([  18,   18,   23, ..., 7905, 7906, 7906], dtype=int64),
 array([12, 13, 12, ..., 13, 12, 13], dtype=int64))

In [7]:
airbnb1 = airbnb.dropna(how = 'all')

In [8]:
airbnb1.shape

(7907, 16)

In [9]:
airbnb2 = airbnb1.drop(['id', 'host_id'], axis = 1)

In [10]:
airbnb2.head()

,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,COZICOMFORT LONG TERM STAY ROOM 2,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,Pleasant Room along Bukit Timah,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,COZICOMFORT,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,Ensuite Room (Room 1 & 2) near EXPO,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,B&B Room 1 near Airport & EXPO,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

In [11]:
airbnb.price.mean()

169.33299607942328

In [12]:
pd.value_counts(airbnb.host_id)

66406177     274
8492007      203
209913841    157
29420853     141
31464513     114
219550151    113
2413412      112
108773366    109
23722617      84
8948251       83
159804766     79
156409670     78
138649185     76
32184450      67
14521708      67
201034613     67
211434562     64
97878860      59
10248444      48
201775246     48
151196270     45
35691521      45
63448912      43
32798595      41
23336011      40
8527085       38
20883050      37
238891646     34
1439258       32
278109833     31
            ...
61315957       1
20715286       1
44705593       1
8680288        1
49468252       1
1545156        1
102316815      1
7099224        1
246860189      1
4332365        1
259365784      1
15983434       1
5116800        1
3824517        1
101368710      1
202873737      1
105507723      1
57973645       1
229780132      1
52978586       1
49915186       1
43568035       1
57832356       1
36109221       1
24289255       1
17179570       1
236444601      1
1119168        1
17210305       1
220160000      1
Name: host_id, Length: 2705, dtype: int64