In [1]:
import pandas as pd

In [2]:
airbnb = pd.read_csv('cleaned.csv')

In [4]:
airbnb.head()

,name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,host
0,COZICOMFORT LONG TERM STAY ROOM 2,North Region,Woodlands,Private room,83,180,1,2013-10-21,0.01,2,365,266763: Francesca
1,Pleasant Room along Bukit Timah,Central Region,Bukit Timah,Private room,81,90,18,2014-12-26,0.28,1,365,227796: Sujatha
2,COZICOMFORT,North Region,Woodlands,Private room,69,6,20,2015-10-01,0.20,2,365,266763: Francesca
3,Ensuite Room (Room 1 & 2) near EXPO,East Region,Tampines,Private room,206,1,14,2019-08-11,0.15,9,353,367042: Belinda
4,B&B Room 1 near Airport & EXPO,East Region,Tampines,Private room,94,1,22,2019-07-28,0.22,9,355,367042: Belinda

In [12]:
print('Number of neighborhood groups: ' + str(pd.value_counts(airbnb.neighbourhood_group).shape[0]))
print('Number of neighborhoods: ' + str(pd.value_counts(airbnb.neighbourhood).shape[0]))
print('Number of room types: ' + str(pd.value_counts(airbnb.room_type).shape[0]))

Number of neighborhood groups: 5
Number of neighborhoods: 43
Number of room types: 3

In [3]:
airbnb.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,7907.000000,7907.000000,7907.000000,5149.000000,7907.000000,7907.000000
mean,169.332996,17.510054,12.807386,1.043669,40.607689,208.726318
std,340.187599,42.094616,29.707746,1.285851,65.135253,146.120034
min,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,65.000000,1.000000,0.000000,0.180000,2.000000,54.000000
50%,124.000000,3.000000,2.000000,0.550000,9.000000,260.000000
75%,199.000000,10.000000,10.000000,1.370000,48.000000,355.000000
max,10000.000000,1000.000000,323.000000,13.000000,274.000000,365.000000